<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.taoguan.online.edu.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="fun.taoguan.online.edu.entity.Article">
        <id column="ARTICLE_ID" property="articleId" />
        <result column="TITLE" property="title" />
        <result column="SUMMARY" property="summary" />
        <result column="KEY_WORD" property="keyWord" />
        <result column="IMAGE_URL" property="imageUrl" />
        <result column="SOURCE" property="source" />
        <result column="AUTHOR" property="author" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="PUBLISH_TIME" property="publishTime" />
        <result column="LINK" property="link" />
        <result column="ARTICLE_TYPE" property="articleType" />
        <result column="CLICK_NUM" property="clickNum" />
        <result column="PRAISE_COUNT" property="praiseCount" />
        <result column="COMMENT_NUM" property="commentNum" />
        <result column="SORT" property="sort" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ARTICLE_ID, TITLE, SUMMARY, KEY_WORD, IMAGE_URL, SOURCE, AUTHOR, CREATE_TIME, PUBLISH_TIME, LINK, ARTICLE_TYPE, CLICK_NUM, PRAISE_COUNT, COMMENT_NUM, SORT
    </sql>

</mapper>
